@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4a6db3;
    --foreground: #000000;
  }
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--background) !important; /* ensure body doesn't fall back to white */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
